
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background: #0077cc;
  color: white;
  text-align: center;
  height: 85vh;
  width: 805h;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-btn {
  background-color: white;
  color: #0077cc;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



